In [3]:
#목표는 다음과 같습니다:
#Show Type 컨텐츠를 사용할 수 있습니다.
#상위 5개 등급 카테고리.
#상위 5명의 감독.
#톱10 배우.
#최근 몇 년간 TV쇼와 영화에 집중하는 경향..
#계절별 최고의 TV쇼 톱 5.

#귀여운 차트를 사용한 모든 차트 설계

In [5]:
#라이브러리 가져오기

!pip install cutecharts

Requirement already satisfied: cutecharts in c:\users\owner\appdata\local\programs\python\python311\lib\site-packages (1.2.0)
Requirement already satisfied: jinja2 in c:\users\owner\appdata\local\programs\python\python311\lib\site-packages (from cutecharts) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\owner\appdata\local\programs\python\python311\lib\site-packages (from jinja2->cutecharts) (2.0.1)

[notice] A new release of pip is available: 23.1.2 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import numpy as np
import pandas as pd
import cutecharts.charts as ctc
from cutecharts.charts import Line
from cutecharts.faker import Faker
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [14]:
data = pd.read_csv("C:/Users\Owner/Desktop/git/Advertising/넷플릭스 영화 TV/netflix_titles.csv")

In [15]:
print('-' * 50)
print('\nSize of Netflix data is {}\n' .format(data.shape))
print('-' * 50)
data.head()

--------------------------------------------------

Size of Netflix data is (8807, 12)

--------------------------------------------------

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [16]:
#데이터 전처리

In [17]:
print('-' * 45)
print("\nStatstical information about given data \n")
print('-' * 45)
data.describe()

---------------------------------------------

Statstical information about given data

---------------------------------------------

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [19]:
#누락된 데이터 
#누락된 국가를 '지정 안 함'으로 바꿉니다.
#누락된 항목을 '디렉터 없음'으로 바꿉니다.
#누락된 캐스트를 '노 캐스트'로 바꿉니다.

In [21]:
data['director'].replace(np.nan, 'No Director', inplace=True)
data['cast'].replace(np.nan, 'No Cast',inplace=True)
data['country'].replace(np.nan, 'Not Specify',inplace=True)

data.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [22]:
#결측치 제거

In [23]:
data.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [24]:
data = data.dropna()
data.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [25]:
print('-' * 50)
print("\nCheck Duplicates")
print('-' * 50)
print('Total Duplicates values: ',data.duplicated().sum())
print('-' * 50)

--------------------------------------------------

Check Duplicates
--------------------------------------------------
Total Duplicates values:  0
--------------------------------------------------

In [26]:
#시각화하기

In [27]:
data['type'].value_counts()

type
Movie      6126
TV Show    2664
Name: count, dtype: int64

In [53]:
t_values = data['type'].value_counts()
t_labels = data['type'].unique()

#원형 차트
pie = ctc.Pie('결제수단 카테고리', # 제목
             width='720px', height='720px')

#차트 옵션 설정
pie.set_options(labels=list(t_labels), #국가 이름을 레이블로 지정 
               inner_radius=0, #내부 반경을 0으로 설정
               colors=['#ee333c', '#168ab5'])

#그래프에 표시할 레이블
pie.add_series(list(t_values))

#차트 표시
pie.render_notebook()

In [30]:
#상위 5개 등급 카테고리

In [31]:
newdata = data.groupby('rating').size().rename_axis('Rating').reset_index(name='Count')
nd = newdata.sort_values(by='Count', ascending=True)
nd = nd.tail(5)

In [52]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('상위 5개 등급 카테고리', width='600px', height='200px')

chart.set_options(labels=list(nd.Rating),
                 
                 x_label='카테고리', 
                 y_label='명(수)',
                 colors=Faker.colors)

chart.add_series('작품수', list(nd['Count']))

chart.render_notebook()

In [33]:
#상위 5명의 감독

In [34]:
fil_directors = data['director'].str.split(',',expand=True).stack()
fil_directors = pd.DataFrame(fil_directors)
fil_directors.columns = ['director']
directors = fil_directors.groupby(['director']).size().reset_index(name='counts')
directors = directors.sort_values(by='counts',ascending=False)
directors = directors[directors['director'] != 'No Director']
directors = directors.head(5)
directors

           director  counts
4019  Rajiv Chilaka      22
4066    Raúl Campos      18
261       Jan Suter      18
4650    Suhas Kadav      16
3233   Marcus Raboy      16

In [51]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('상위 5명의 감독', width='600px', height='200px')

chart.set_options(labels=list(directors.director),
                  x_label='감독',
                 y_label='영화',
                 colors=Faker.colors)

chart.add_series('작품 수', list(directors.counts))

chart.render_notebook()

In [45]:
#톱 5 배우들

In [48]:
fil_actors = data['cast'].str.split(',',expand=True).stack()
fil_actors = pd.DataFrame(fil_actors)
fil_actors.columns = ['cast']

actors = fil_actors.groupby(['cast']).size().reset_index(name='counts')
actors = actors.sort_values(by='counts', ascending=False)
actors = actors[actors['cast'] != 'No Cast']
actors = actors.head(5)
actors

                    cast  counts
2605         Anupam Kher      39
26903       Rupa Bhimani      31
30263   Takahiro Sakurai      30
15518      Julie Tejwani      28
23591            Om Puri      27

In [50]:
color = ['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('톱 5 배우들', width='600px', height='200px')

chart.set_options(labels=list(actors.cast), 
                 x_label='배우',
                 y_label='영화',
                  colors=Faker.colors
                 )

chart.add_series('작품 수', list(actors.counts))

chart.render_notebook()

In [54]:
#최근 몇 년간 TV쇼와 영화에 대한 관심의 흐름

In [62]:
dff = data[['type','release_year']]
dff = dff.rename(columns = {'release_year' : 'Release Year'})

dff2 = dff.groupby(['Release Year','type']).size().reset_index(name='Total Content')
dff2 = dff2[dff2['Release Year']>=2011]

dff3 = dff2[dff2['type']=='Movie']

dff4 = dff2[dff2['type']=='TV Show']

In [66]:
chart = Line('지난 10년의 흐름')

chart.set_options(labels=list(dff3['Release Year']), 
                  x_label='연도(년도)', 
                  y_label='작품 수',)

chart.add_series('영화', list(dff3['Total Content']))
chart.add_series('TV 쇼', list(dff4['Total Content']))

chart.render_notebook()

In [68]:
#계절별 최고 TV 프로그램 톱 5

In [69]:
features=['title','duration','type']
seasons= data[features]

seasons['no_of_seasons']=seasons['duration'].str.replace(' Season','')
seasons['no_of_seasons']=seasons['no_of_seasons'].str.replace('s','')
seasons = seasons[seasons['type']=='TV Show']
seasons['no_of_seasons']=seasons['no_of_seasons'].astype(str).astype(int)

seasons = seasons.drop('duration', axis= 1)
seasons = seasons.sort_values('no_of_seasons', ascending=False)
seasons = seasons.head(5)

In [74]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('TV 프로그램 시즌 톱 5', width='600px', height='200px')

chart.set_options(labels=list(seasons.title),
                  x_label='작품명',
                  y_label='작품 개수',
                  colors=Faker.colors)

chart.add_series('시리즈',list(seasons.no_of_seasons))

chart.render_notebook()